* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    background-color: #F8F9FA;
    color: #333;
  }
  
  /* Contenedor principal */
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F9FA;
    padding: 10px 20px;
    color: #E3D8F5;
  }
  
  header .logo img {
    height: auto;
  }
  
  header nav ul {
    list-style-type: none;
    display: flex;
  }
  
  header nav ul li {
    margin-left: 20px;
  }
  
  header nav ul li a {
    color: #E3D8F5;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  header nav ul li a:hover {
    color: #5227CC;
    text-decoration: underline;
  }
  
  /* Estilos para dispositivos móviles */
  @media (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: flex-start;
      padding: 15px;
    }
  
    header .logo img {
      height: 40px; /* Ajuste el tamaño del logo en pantallas pequeñas */
    }
  
    header nav ul {
      flex-direction: column;
      margin-top: 10px;
    }
  
    header nav ul li {
      margin: 10px 0;
    }
  
    header nav ul li a {
      font-size: 1.2rem;
    }
  }
  
  /* Estilos para tabletas y pantallas más grandes */
  @media (min-width: 769px) and (max-width: 1024px) {
    header {
      padding: 20px 40px;
    }
  
    header .logo img {
      height: 45px;
    }
  
    header nav ul li {
      margin-left: 25px;
    }
  
    header nav ul li a {
      font-size: 1.2rem;
    }
  }
  
  /* Estilos para pantallas grandes de escritorio */
  @media (min-width: 1025px) {
    header {
      padding: 20px 40px;
    }
  
    header .logo img {
      height: 60px;
    }
  
    header nav ul li {
      margin-left: 30px;
    }
  
    header nav ul li a {
      font-size: 1.2rem;
    }
  }
  